# Day 1: Getting and Knowing your Data

##### Step 1. Import the necessary libraries.

In [105]:
import pandas as pd

##### Step 2. Import the dataset from this address.

In [106]:
URL = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

##### Step 3. Assign it to a variable called chipo.

In [107]:
chipo = pd.read_csv(URL, sep = '\t')

##### Step 4. See the first 10 entries

In [60]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
95,42,1,Barbacoa Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$9.25
96,42,1,Chips and Guacamole,NaN,$4.45
97,43,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.75
98,43,1,Chicken Burrito,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",$8.75
99,44,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",$8.75

##### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1
#df.shape[0] or len(df) or len(df.index)
chipo.shape[0]

4622

In [7]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

##### Step 6. What is the number of columns in the dataset?

In [8]:
chipo.shape[1]
len(chipo.columns)

5

##### Step 7. Print the name of all the columns.

In [57]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

##### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

#### Step 9. Which was the most-ordered item?

In [43]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,choice_description,item_price
item_name,,,,
Chicken Bowl,713926,761,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98 $10.98 $11.25 $8.75 $8.49 $11.25 $8.75 ...

#### Step 10. For the most-ordered item, how many items were ordered?

In [51]:
c = chipo.groupby('item_name')
c = c.get_group('Chicken Bowl')
len(c)

726

#### Step 11. What was the most ordered item in the choice_description column?

In [54]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

,order_id,quantity,item_name,item_price
choice_description,,,,
[Diet Coke],123455,159,Canned SodaCanned SodaCanned Soda6 Pack Soft D...,$2.18 $1.09 $1.09 $6.49 $2.18 $1.25 $1.09 $6.4...

#### Step 12. How many items were orderd in total?

In [76]:
Total = chipo['quantity'].sum()
#total_items_orders = chipo.quantity.sum()
Total

4972

#### Step 13. Turn the item price into a float.

##### Step 13.a. Check the item price type

In [103]:
chipo.item_price.dtype

dtype('O')

##### Step 13.b. Create a lambda function and change the type of item price

In [100]:
#changeType = lambda x: chipo.infer_objects()
#convert_dict = {'item_price': float} chipo.astype(convert_dict)

dollarizer = lambda x: float(x[1:-1])
chipo.item_price = chipo.item_price.apply(dollarizer)

TypeError: float() argument must be a string or a real number, not 'DataFrame'

##### Step 13.c. Check the item price type

In [101]:
chipo['item_price'].dtypes

dtype('O')

In [104]:
print(chipo['item_price'].unique())

TypeError: unhashable type: 'DataFrame'